.container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 12px;
  padding: .5rem .4rem .2rem .3rem;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

/* Modified iconContainer to ensure proper spacing and visualization */
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5rem;
  min-width: 44px; 
  min-height: 44px;
  position: relative;
  flex-shrink: 0; 
}

.iconOverlay {
  position: absolute;
  top: -4px;
  right: -11px;
  z-index: 2;
  border-radius: 50%;
}

.errorList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorItem {
  color: red;
  font-size: .7rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 4px;
  text-align: center;
   
}

.errorItem:last-child {
  margin-bottom: 0;
}