*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  vertical-align: baseline;
}

/* UPDATE: Make sure HTML and body take up full height */
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}