.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.formContainer {
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: stretch;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 1rem;
}

.inputSection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.formTitle {
  padding-bottom: .5rem;
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  margin: 0;
  padding: 0;
}

.formActions button :hover{
  color: white;
}

.formField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: .3rem;
  gap: .5rem;
  width: 100%;
}

.formField label {
  font-weight: 500;
  padding-bottom: .5rem;
}

.validationMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .5rem;
}

::placeholder {
  color: lightgrey;
  opacity: 1; 
}

.validText {
  color: #16a34a;
  font-weight: 500;
}

.errorText {
  color: #dc2626;
  font-weight: 500;
}

.validIcon {
  color: #16a34a;
}

.errorIcon {
  color: #dc2626;
}

.passwordLabel {
  min-height: 25px;
  display: block;
}

.inputError {
  border: 2px solid red;
  color: red;
}

.inputSuccess {
  border: 2px solid green;
  color: green;
}

.repeatPasswordMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
}

.active {
  color: rgb(247, 247, 247);
  background-color: var(--saturated-orange);
  color: white;
}

.active:hover {
  color: white;
  background-color: var(--dark-orange);
  /* transform: translateY(-1px); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inactive {
  background-color: var(--superlight-gray);
  color: var(--gray);
  cursor: not-allowed;
  opacity: 0.3;
}

@media screen and (min-width: 500px) {
  .container{
    padding-top: 1rem;
  }

  .formContent {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .container {
    /* padding-top: 1rem; */
    justify-content: center;
  }

  .formField {
    justify-content: center;
    align-items: center;
  }

  .formField label {
    padding-bottom: 0;
    text-align: right;
    margin-right: 1rem;
  }

  input[type="text"],
  input[type="number"],
  select {
    flex: 1;
    max-width: 300px;
  }
}

/* Desktop Breakpoint */
@media screen and (min-width: 1024px) {

  .formTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .formField {
    margin-top: 1rem;
    gap: 1rem;
  }

  .formField label {
    min-width: 150px;
    font-size: 1rem;
  }
}

/* Large Desktop Breakpoint */
@media screen and (min-width: 1440px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    justify-content: space-between;
    gap: 4rem;
  }
}