.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--light-gray); */
    
  /* background-size: 200% 200%; */
  position: relative;
  z-index: 100;
}

.container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 70%); */
  pointer-events: none;
  z-index: 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image:  */
    /* linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), */
    /* linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px); */
  background-size: 20px 20px;
  pointer-events: none;
  z-index: 1;
}

.formContainer {
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: auto;
  position: relative;
  z-index: 2;
}

.formContentWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
}

.formTitle {
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(11, 11, 11);
  text-align: center;
  margin-bottom: 1.5rem;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
  letter-spacing: 0.5px;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.205);
  border-radius: 12px;
background-color: white;
  /* background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.245), var(--superlight-gradient-purple-end)); */
  padding: .7rem .5rem .7rem .5rem;
  backdrop-filter: blur(1.9px);
  z-index: 0;
  width: 100%;
  margin-top: 1rem;
}

.inputSection{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .5rem;
}

.formActions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.formField {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: .3rem;
  gap: .6rem;
  width: 100%;
}

.submitButton {
  min-width: 80px;
  align-self: flex-start;
}

.toggleButton {
  min-width: 80px;
}

.toggleButton:hover {
  text-shadow: 0 0 8px var(--saturated-blue);
}

.inputError {
  border: 2px solid red;
  color: red;
}

.active {
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}

.active:hover {
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.4) !important;
  box-shadow: 0px 0px 15px 1px var(--saturated-blue-transparent) !important;
}

.inactive {
  color: var(--gray);
  cursor: not-allowed;
  opacity: 0.3;
}

@media screen and (min-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .formContent {
    flex-direction: row;
  }

  .inputSection {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }

  .formField {
    justify-content: center;
    align-items: center;
  }

  .formTitle {
    font-size: 2.5rem;
  }

  input[type="text"],
  input[type="number"],
  select {
    flex: 1;
    max-width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .formField {
    margin-top: 1rem;
    gap: 1rem;
  }

  .formField label {
    min-width: 150px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    justify-content: space-between;
    gap: 4rem;
    max-width: 700px;
  }
  
  .toggleButton {
    min-width: 120px;
  }
  
  .submitButton {
    min-width: 120px;
  }


  .formTitle {
    font-size: 3rem;
  }
}