/* Navigation buttons container */
.navigationButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem; 
  }
  
  .submitIcon {
    margin-left: 5px;
  }
  
  /* Button text display toggle */
  .buttonText {
    display: none;
  }
  
  /* Button states */
  .active {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .active:hover {
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 15px 1px var(--saturated-blue-transparent) !important;
  }
  
  .inactive {
    color: var(--gray);
    cursor: not-allowed;
    opacity: 0.3;
  }
  
  /* Responsive styles */
  @media screen and (min-width: 768px) {
    .buttonText {
      display: inline;
      margin: 0 5px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navButton, .submitButton {
      padding: 8px 12px;
      min-width: 40px;
    }
  }