/* ShopMap.module.css */
.mapContainer {
    position: relative;
    width: 40%;
    height: 100vh;
    /* max-height: 300px;  */
    /* border-radius: 10px; */
    overflow: hidden;
    /* margin-left: .5rem; */
    transition: all 0.3s ease;
  }
  
  /* Ensure popup appears above other elements */
  .mapContainer :global(.leaflet-popup) {
    z-index: 99999999999999999;
  }
  
  .backButton:hover {
    color: white !important;
    background-color: var(--saturated-blue) !important;
  } 
  
  @media (max-width: 768px) {
    .mapContainer {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
      min-height: 300px;
      height: calc(100vh); /* Take up most of the viewport height */
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      border-radius: 0;
    }
    
    .backButton {
      right: 10px;
    }
  }