.container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #52c41a;
    border-radius: 8px;
    padding: .5rem .4rem .2rem .3rem;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* IconContainer to ensure proper spacing and visualization */
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
    min-width: 44px; 
    min-height: 44px;
    position: relative;
    flex-shrink: 0; 
  }
  
  .iconOverlay {
    position: absolute;
    top: -4px;
    right: -11px;
    z-index: 2;
    border-radius: 50%;
  }
  
  .successList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .successItem {
    color: #3db402;
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 4px;
    text-align: center;
  }
  
  .successItem:last-child {
    margin-bottom: 0;
  }
