.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem 1.5rem;
    z-index: 1000; 
    height: auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    margin-bottom: 0; 
}

.title{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 700;
    color: white;
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content:right;
    width: 100%;
    gap: 1rem;
    padding: 0.25rem 0; 
}

.backButton {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.2);
}

.backButton:hover {
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 15px 1px var(--saturated-blue-transparent) !important;
}

.active {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.2);
}
  
.active:hover {
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 15px 1px var(--saturated-blue-transparent) !important;
}

@media (max-width: 768px) {
    .container {
        padding: 0.4rem 1rem; 
    }
    
    .contentWrapper {
        padding: 0.5rem 0;
    }
}